<div class="panel">
    <h4>Important dates</h4>
    <ul>
        <li>@Html.ActionLink("1st April - Call for content opens", "Submit", "Main")</li>
        <li>22nd April - Submission closes</li>
        <li>TBA - Voting opens</li>
        <li>TBA - Voting closes</li>
        <li>TBA - Agenda published</li>
        <li>TBA - Booking opens</li>
    </ul>
</div>