

<div class="row">
    <div class="large-12">
        <h4>Where</h4>
        <p>
            DDD Sydney will be held at UTS CBD campus
        </p>
        <p>
            UTS's website details the <a href="http://maps.uts.edu.au/map.cfm">location</a> and we will confirm which lecture halls closer to the date.
        </p>
    </div>
</div>


<div class="row where-grid">

    <div class="small-12 large-3 columns">
        <div class="blue panel shade">
            <i class="fa fa-car"></i>
            <h5>Car</h5>
        </div>
        <div class="blue panel">
            <p>
                Although parking is available around the university we recommend that delegates travel by train to Central station and then walk to the university (about 2 minutes).
            </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade">
            <i class="fa fa-train"></i>
            <h5>Train</h5>
        </div>
        <div class="blue panel">
        <p>
            The nearest train station is Central Station and UTS is a 2 minute walk from there.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade">
            <i class="fa fa-bus"></i>
            <h5>Bus</h5>
        </div>
        <div class="blue panel">
        <p>
            There's plenty of buses that run down Paramatter Road and stop at UTS.
        </p>
        </div>
    </div>

    <div class="small-12 large-3 columns">
        <div class="blue panel shade">
            <i class="fa fa-car"></i>
            <h5>Parking</h5>
        </div>
        <div class="blue panel">
        <p>
            Paid car parking is available around the university but keep in mind that this is pretty central so it won't be easy to find nor will it be cheap. Catch public transport ;).
        </p>
        </div>
    </div>

</div>